footer * {
  margin: 0;
}

footer {
  background-color: var(--lighter-dark-color);
  color: var(--light-color);
}

.contact-us-container {
  display: flex;
  justify-content: center;
  padding: 50px 30px 25px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--secondary-light-color);
}

.contact-us-container p {
  font-size: 2rem;
  padding-right: 40px;
}

.contact-us-container form div{
  width: 100%;
}

.contact-us-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  border: 1px solid var(--secondary-light-color);
}

footer form input {
  width: 80%;
}

footer form label,
footer form input,
footer form textarea {
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 5px;
}

footer form button {
  padding: 10px;
  border-radius: 5px;
}

footer form button:hover {
  cursor: pointer;
}

.footer-column ul{
  margin: 0;
}

.footer-column li{
  list-style: none;
  
}

.footer-nav {
  font-size: 1.3rem;
}

.footer-details-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-column {
  padding: 0 100px;
}

.credits {
  text-align: center;
  padding: 5px;
}

.credits a {
  color: var(--light-color)

}





