.product-form-container {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.product-form {
  display: flex;
  flex-direction: column;
  height: 350px;
  border: 2px solid var(--dark-color);
  padding: 10px;
  margin-bottom: 35px;
}

.product-form h2, 
small{
  text-align: center;
}

.product-form div {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.product-form input {
  width: 50%;
}

.product-form button {
  padding: 5px;
  border: 2px solid var(--primary-color);
  font-size: 1.5rem;
  border-radius: 5px;
}

.product-form button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.link-container {
  display: flex;
  flex-direction: column;
}

.link-container a {
  display: flex;
  align-items: center;
  padding: 10px
}

.dashboard-link,
.my-products-link {
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 20px;
  color: var(--dark-color);
  border: 1px solid var(--lighter-dark-color)
}

.dashboard-link:hover {
  background-color: var(--secondary-color);
}

.dashboard-link img {
  width: 60px;
  height: 35px;
  padding-right: 15px;
}

.my-products-link {

}