.product-form-container {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.product-form {
  padding: 10px;
}

.product-form div {
  padding-bottom: 10px;
}

.product-form div {
  display: flex;
  justify-content: space-between;
}

.product-form input {
  width: 50%;
}