/* .hero {
  width: 100%;
  background-size: cover;
}
.hero img{
  background-size: cover;
  width: 100%;
}

.hero-description {
  position: absolute;

} */

.hero {
  background-image: url("../assets/images/hero-bg-image.jpg");
  background-repeat: no-repeat;

  height: 90vh;
}

.hero h2 {
  margin: 0;
  padding-top: 50px;

  font-size: 5rem;
  color: var(--light-color);
}