.hero {
  background-image: url("../assets/images/hero-bg-image.jpg");
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;

  height: 92vh;
  text-align: center;
}

.hero-description {
  width: 60%;
  padding-top: 100px;
}

.hero h2 {
  margin: 0;
  

  font-size: 5rem;
  color: var(--light-color);
}

.hero-button {
  padding: 80px 0;  
}

.start-button, .add-button{
  color: #fff;
  border: 1px solid white;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
}

.start-button {
  background-color : var(--secondary-color);
  margin-right: 20px; 
}

.add-button {
  background-color : transparent;
  margin-left: 20px; 
}

.add-button:hover {
  background-color: var(--primary-color);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
}

.dashboard-container h3 {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.dashboard-table {
  display: flex;
  justify-content: center;
  padding: 30px 5px;
}

.chart-container{
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.doughnut-chart {
  width: 30%;
}

.bar-chart {
  width: 60%;
}

.list-button-container{
  padding: 40px 0 100px;
  background-color: rgb(210, 210, 210, 0.7);
}

.list-button-container, 
.list-button-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-button-container a{
  padding: 3px 9px;
}

.list-button-container img {
  padding-left: 8px;
}

.list-button-container a:hover {
  background-color: var(--primary-color);
}

.list-button-container a {
  border: 1px solid var(--lighter-dark-color);
  text-decoration: none;
  font-size: 2rem;
  color: var(--dark-color)
}

.list-button-container img {
  width: 50px;
  background-image: var(--primary-color)
}