.product-list-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;

  background-color: rgb(210, 210, 210, 0.7);
}

.product-list-container table{
  width: 70%;
  height: 90px;
}