@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


:root {
  --light-color: #FAFAFA;
  --secondary-light-color: #E7ECF2;
  --tertiary-light-color: #767676;
  --primary-color: #51724E;
  --secondary-color: #d0d306;
}
body * {
  font-family: 'Mulish', sans-serif;
}